         <!-- Footer Start -->
         <div class="container-fluid bg-dark text-light footer wow fadeIn mt-4" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-4">
                        <h2 class="text-light">Drupal</h2>
                        <ul class="py-3 px-3">
                            <li class="my-2"><a href="/blogs/Setting-Up-drupal-website.html" class="text-light">Setting Up a Drupal Website</a></li>
                            <li class="my-3"><a href="/blogs/paragraphs-module.html" class="text-light">Building Dynamic Content with Drupal's Paragraphs Module</a></li>
                            <li class="my-3"><a href="/blogs/Essential_Drupal_Modules_for_Website_Development.html" class="text-light">Essential Drupal Modules for Website Development</a></li>
                            <li class="my-3"><a href="/blogs/Creating-Custom-Content-Types-in-Drupal.html" class="text-light">Creating Custom Content Types in Drupal</a></li>
                            <li class="my-3"><a href="/blogs/Ultimate-Guide-To-Migrate-From-Drupal7-To-Drupal9.html" class="text-light">Ultimate Guide to Migrating from Drupal 7 to Drupal 9</a></li>
                            <li class="my-3"><a href="/blogs/discovering-the-new-features-and-Improvements-in-drupal-10.html" class="text-light">Discovering the New Features and Improvements in Drupal 10</a></li>
                            <li class="my-3"><a href="/blogs/custom_styles_in_ckeditor_drupal9.html" class="text-light">Custom Styles in CKEditor</a></li>
                            <li class="my-3"><a href="/blogs/reasons-to-use-drupal-for-building-web-application.html" class="text-light">Why Drupal for Building a Web Application?</a></li>
                            <li class="my-3"><a href="/blogs/step-by-step-drupal-content-migration-guide.html" class="text-light">Step-by-Step Drupal Content Migration Guide</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <h2 class="text-light">Technology</h2>
                        <ul class="py-3 px-3">
                            <li class="my-3"><a href="/blogs/Drupal-vs-WordPress.html" class="text-light">Drupal vs. WordPress</a></li>
                            <li class="my-3"><a href="/blogs/Setting-Up-Drupal-with-DDEV-and-Docker-on-macOS.html" class="text-light">Setting Up Drupal with DDEV and Docker on macOS</a></li>
                            <li class="my-3"><a href="/blogs/decouple-drupal.html" class="text-light">Decoupled Drupal with Next.js Using Next-Drupal</a></li>
                            <li class="my-3"><a href="/blogs/webhooks-vs-apis.html" class="text-light">Webhooks vs APIs: Understanding the Differences</a></li>
                            <li class="my-3"><a href="/blogs/wordpress-to-drupal-migration-guide.html" class="text-light">Migrating Your WordPress Site to Drupal in Simple Steps</a></li>
                            <li class="my-3"><a href="/blogs/Mastering-Drupal-Migrations-with-SQLBase-Best-Practices-Unveiled.html" class="text-light">Mastering Drupal Migrations with SQLBase</a></li>
                            <li class="my-3"><a href="/blogs/When-ChatGPT-Meets-Drupal-Crafting-Smarter-Websites-Ahead.html" class="text-light">When ChatGPT Meets Drupal: Crafting Smarter Websites Ahead</a></li>
                            <li class="my-3"><a href="/blogs/Drupal10-Hubspot.html" class="text-light">Creating Forms in Drupal 10 with Hubspot Integration</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <h2 class="text-light">Security</h2>
                        <ul class="py-3 px-3">
                            <li class="my-3"><a href="/blogs/Integrating_Single_Sign-On_(SSO)_into_Drupal_via_SAML.html" class="text-light">Integrating Single Sign-On (SSO) into Drupal via SAML</a></li>
                            <li class="my-3"><a href="/blogs/flood_control.html" class="text-light">Safeguarding Your Drupal Site</a></li>
                            <li class="my-3"><a href="/blogs/remediate_user_enumeration_in_drupal.html" class="text-light">Remediate User Enumeration in Drupal</a></li>
                            <li class="my-3"><a href="/blogs/user_enumeration.html" class="text-light">User Enumeration: The Quiet Danger to Your Online Safety</a></li>
                            <li class="my-3"><a href="/blogs/drupal-admin-toolbar-guide.html" class="text-light">Streamline Your Drupal Workflow: The Admin Toolbar Guide</a></li>
                        </ul>
                    </div>
                </div>
            </div>
         </div>
         <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-4">
                        <p class="section-title text-white h5 mb-4">Address<span></span></p>
                        <p><h3 style="color: white;">#Kite</h3></p>
                        <p><i class="fa fa-map-marker-alt me-3"></i>Office no 610, 6th floor, Park Plaza,  Porwal Rd, Lohegaon, Pune, Maharashtra 411047</p>
                       
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <p class="section-title text-white h5 mb-4">Quick Link</p>
                        <a class="btn btn-link" href="">About Us</a>
                        <a class="btn btn-link" href="">Contact Us</a>
                        <a class="btn btn-link" href="">Privacy Policy</a>
                        <a class="btn btn-link" href="">Terms & Condition</a>
                        <a class="btn btn-link" href="">Career</a>
                    </div>

                    <div class="col-md-6 col-lg-4"> 
                        <p class="section-title text-white h5 mb-4">Drupal Services</p>
                        <a class="btn btn-link" href="">Drupal 10 Development</a>
                        <a class="btn btn-link" href="">Drupal 9 Development</a>
                        <a class="btn btn-link" href="">Drupal Development</a>
                        <a class="btn btn-link" href="">Drupal Developers</a>
                        <a class="btn btn-link" href="">Drupal Decoupled</a>
                       <a class="btn btn-link" href="">Drupal eCommerce development</a>
                       <a class="btn btn-link" href="">Drupal Upgrade</a>
                       <a class="btn btn-link" href="">Drupal Support and Maintenance</a>
                       <a class="btn btn-link" href="">Drupal Site Audit (Free)</a>
                      <a class="btn btn-link" href="">  Drupal Migration Services</a>
                    </div>

<!--                     <div class="col-md-6 col-lg-4">
                        <p class="section-title text-white h5 mb-4">Newsletter<span></span></p>
                        <p>Stay informed with our latest news, updates, and offerings delivered straight to your inbox.</p>
                        <div class="position-relative w-100 mt-3">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Your Email" style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary fs-4"></i></button>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="container px-lg-5">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">#Kite</a>, All Right Reserved. 
                            
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "//credit-removal". Thank you for your support. ***/-->
                            Crafted By  <a class="border-bottom" href="/">#Kite</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Home</a>
                                <a href="">Cookies</a>
                                <a href="">Help</a>
                                <a href="">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Footer End -->
<!--         	<script>window.$zoho=window.$zoho || {};$zoho.salesiq=$zoho.salesiq||{ready:function(){}}</script><script id="zsiqscript" src="https://salesiq.zohopublic.in/widget?wc=siq57b4f6ea7134e842d8562a4cdf1f50e810d9395342885b1f5eefdc7cc5964ebcd020a59c22612f70b3bc249321cee3ae" defer></script>
 -->
